table {
    border-collapse: collapse;
}

th, td {
border: 1px;
padding: 10px;
text-align: left;
}
th{
    background-color: #f0f0f0;
}
form{
    margin: 20px;
    padding: 10px;
}
label {
    display: block;
    margin-bottom: 1opx;
}